/*stylesheet for Mobile app*/

/*reset css*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
	margin:0;
	padding:0;
}

h3{
	margin: 4px;
	font: 
}

/*uinversal style*/
body{
	background-color: deepskyblue;
}
img#logo{
	display: block;
	width: 50px;
	float: left;
	margin: 16px 5px;
	position: relative;
	
}
img:hover{
	cursor: crosshair;
}

div#container{
	width: 100%;
	background-color: beige;
}

header{
	width: 96%;
	padding: 10px;
}

header h1{
	color: blueviolet;
	font-size: 40px;
	font-family: cursive, sans-serif;
}

footer{
	text-align: center;
	position:fixed;
	bottom:0;
	left: 0;
	width:100%;
	background-color:aquamarine;
}

div#content{
	width: 100%;
	background-color: azure;
}

nav{
	width:100%;
	background-color: white;
}

nav ul{
	display:block;
	margin:auto;
	color:cornflowerblue;
	font-family: monospace;
	font-size:1.1em;
	text-align:center;
	width: 100%;
}

a#gitHub{
	display: block;
	margin: 5px 40%;
	width: 20%;
	text-align: center;
	border-left: orange;
	border-right: orange;
	background-color: beige;
}

nav ul li{
	text-align: center;
	float:left;
	display:block;
	text-decoration: none;
	background-color:#fff2e6;
	width: 25%;
}

nav ul li a{
	text-align: center;
	display:block;
	padding: 5px 0px;
}

nav ul li a:hover{
	text-align: center;
	display:block;
	padding:5px 0px;
	text-decoration: none;
	color: rgb(255, 0, 191);
	cursor: pointer;
}

@media screen and (max-width: 660px){
	nav ul li{
		width: 100%;
		float:none;
		display:block;
		padding: 15px 0px;
		border-top: 1px solid orange;
		text-decoration: none;
		border-bottom: 1px solid orange;
	}
	
	nav ul li a:hover{
		width: 300px;
		float:none;
		display:block;
		color: rgb(255, 0, 191)	;
		cursor: pointer;
	}
}

div.keepopen{
	clear: both;
}

figure{
	float: left;
	width: 40%;
	text-align: center;
}

span{
	display: block;
	text-align: center;
	align-content: center;
}

input{
	width: 60%;
	margin: 8px 20%;
	text-align: center;
}

textarea{
	padding: 5px 5px;
	display: block;
	width: 80%;
	align-content: center;
	margin: 5px 10%;
}

button{
	width: 30%;
	height: 25px;
	margin: 10px 35%;
}
