/*stylesheet for Mobile app*/

/*reset css*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
	margin:0;
	padding:0;
}

h3{
	margin: 4px;
	font: 
}

/*uinversal style*/
body{
	background-color: deepskyblue;
}
img{
	display: block;
	width: 50px;
	float: left;
	margin: 16px 5px;
	position: relative;
	
}
img:hover{
	cursor: crosshair;
}

div#container{
	width: 100%;
	background-color: beige;
}

header{
	width: 96%;
	padding: 10px;
}

header h1{
	color: blueviolet;
	font-size: 40px;
	font-family: cursive, sans-serif;
}

footer{
	text-align: center;
	position:absolute;
	bottom:0;
	left: 0;
	width:100%;
	background-color:aquamarine;
}

div#content{
	width: 100%;
	background-color: azure;
}

nav{
	width:100%;
	background-color: white;
}

nav ul{
	display:block;
	margin:auto;
	color:cornflowerblue;
	font-family: monospace;
	font-size:1.1em;
	text-align:center;
}

nav ul li{
	text-align: center;
	float:left;
	display:block;
	padding: 5px 15px;
	border-right: 1px solid orange;
	text-decoration: none;
	background-color:#fff2e6;
}
nav ul li a:hover{
	float:left;
	display:block;
	color: rgb(255, 0, 191);
	cursor: pointer;
}

@media screen and (max-width: 480px){
	nav ul li{
		width: 100%;
		float:none;
		display:block;
		padding: 15px 10px;
		border-top: 1px solid orange;
		text-decoration: none;
		border-bottom: 1px solid orange;
	}
	
	nav ul li a:hover{
		width: 300px;
		float:none;
		display:block;
		color: rgb(255, 0, 191)	;
		cursor: pointer;
	}
}

div.keepopen{
	clear: both;
}



